/******************************************************************************************
 *	Author: Aron Riesenfeld
 *	Date:	July 2017
 *
 ******************************************************************************************/

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: #1a1a1a;
  height: 100%;
}

nav {
  height: 7.5vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
a {
  text-decoration: none;
  color: #9d9;
}
nav a {
  color: #9d9;
  font-size: 1.375rem;
  margin: auto;
}

.active {
  color: #1f1;
}

a:hover {
  color: #1f1;
}

.page {
  height: 90%;
}

.titletext {
  text-align: center;
  margin-top: 33vh;
}

.titletext img {
  width: 67vw;
}

h2 {
  color: #9d9;
  font-weight: normal;
  font-size: 3rem;
  margin-bottom: 3vh;
}

h4 {
  color: #9d9;
  font-weight: normal;
  font-size: 2rem;
}

.below-nav-area {
  height: 100%;
  background-color: #2a2a2a;
}

@media (orientation: portrait) {
  nav a {
    font-size: 1.15rem;
  }
}

/**************************************************************************************
*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*
*				                PROJECTS PAGE STYLES
*
*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
***************************************************************************************/

.showcase-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.case {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.case .subtitle {
  margin-top: 4px;
  font-size: 0.9rem;
  color: #6a6;
}

.projects-page > footer {
  float: right;
  height: 10vh;
  padding-top: 2vh;
  margin-right: 2vw;
  color: #9d9;
  font-size: 0.9rem;
}

.projects-page > footer > a {
  color: #1f1;
  text-decoration: underline;
}

/*	Borrowing 767px from Bootstrap, which considers small/mobile devices
	to be below 768 pixels in width. */
@media (max-width: 767px) {
  .case {
    font-size: 1.2rem;
  }
}

@media (orientation: portrait) {
  .projects-page > footer {
    font-size: 1.5vh;
  }
}

/**************************************************************************************
*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*
*								    RESUME PAGE STYLES
*
*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
***************************************************************************************/

.resume-section {
  margin: 20vh 20vw 20vh 20vw;
  color: #9d9;
  text-align: center;
}

.resume-section a {
  color: #1f1;
  text-decoration: underline;
}

/**************************************************************************************
*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*
*								    404 PAGE STYLES
*
*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
***************************************************************************************/

.error {
  width: 50vw;
  height: 50vh;
  margin-top: 15vh;
  text-align: center;
  background-color: #2a2a2a;
}

.error h2 {
  margin-top: 15vh;
  color: #f55;
}

.error h3 {
  color: #f55;
}

@media (max-width: 767px) {
  .error h2 {
    font-size: 2rem;
  }
  .error h3 {
    font-size: 1rem;
  }
}

/*****************************************************************************************
 *****************************************************************************************/
